.burger {
  box-sizing: border-box;
  display: none;
  grid-template-columns: 1fr;
  justify-items: right;
  width: 26px;
  height: 21px;

  &__line1 {
    width: 15px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
  }

  &__line {
    width: 26px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
  }
}

.burger-toggle {
  & > .burger__line1 {
    height: 2px;
    width: 26px;
    transform: rotate(45deg) translate(0, 10px);
  }

  & > .burger__line:nth-child(2) {
    opacity: 0;
  }

  & > .burger__line:last-child {
    height: 2px;
    transform: rotate(-45deg) translate(0, -10px);
  }
}

.burger-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  display: none;
  grid-template-columns: 1fr;
  right: 10px;
  top: 103px;
  width: 293px;
  height: 379px;
  background-color: #333333;

  &__item {
    padding-left: 35px;
    margin: 0;
    width: 100%;
    height: 88px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid #3B3B3B;
  }

  &__link {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    text-decoration: none;
    align-self: center;
    position: relative;
  }

  &__link:hover {
    color: #8D81AC;
    padding-left: 8px;

  }
  &__link:hover:before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 53px;
    background: #8D81AC;
    position: absolute;
    left: -35px;
    top: -11px;
  }


  &__item {
    list-style: none;
  }
}

.burger-menu-active {
  display: grid;
}
