@mixin header-button {
  background: $color-fiolet;
  border-radius: 40px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.header__wrapper {
  width: 100%;
  @include section-width-settings;
}

.header {
  background-image: url("../../dist/img/section1_ForkApp/sec1_bg.png");
  background-size: cover;
  background-position: center;
  height: 800px;
  margin: 0 auto;

  &__top-menu__tablet-wrapper {
    display: none;
  }
  &__top-menu__phone-wrapper {
    display: none;
  }
  &__top-menu{
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 0;
  }
  &__logo-link:hover {
    & > .header__logo-text {
      color: #FFFFFF;
    }
    & > .header__logo-img {
      background-image: url("../../dist/img/section1_ForkApp/sec1-logo-hover.png");
    }
  }
  &__logo-link {
    display: flex;
    text-decoration: none;
    align-items: center;
  }
  &__logo-img {
    background-image: url("../../dist/img/section1_ForkApp/sec1-logo.png");
    width: 43px;
    height: 42px;
  }
  &__logo-text {
    color: $color-fiolet;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 17px;
  }
  &__menu-section {
    display: flex;
    align-items: center;
  }
  &__menu {
    color: $color-fiolet;
    display: flex;
    padding: 0;
    width: 524px;
    justify-content: space-between;
    margin-right: 48px;
  }
  &__menu-item {
    list-style: none;
  }
  &__menu-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: $color-fiolet;
  }
  &__menu-link:hover {
    color: #FFFFFF;
  }
  &__button-buy__wrapper {
    position: relative;
  }
  &__button-buy {
    width: 145px;
    height: 37px;
    font-size: 16px;
    @include header-button;
  }
  &__button-buy:hover {
    box-sizing: border-box;
    border: 2px solid $color-fiolet;
    background-color: #FFFFFF;
    color: $color-fiolet;
  }
  &__main-section {
    max-width: 1200px;
    margin: 100px auto 0;
    display: grid;
    text-align: center;
    &__heading {
      color: #FFFFFF;
      font-size: 82px;
      font-weight: bold;
    }
    &__tagline {
      color: $color-fiolet;
      font-size: 30px;
      margin-top: 19px;
    }
    &__description {
      margin-top: 19px;
      color: #848E97;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
  &__download-section {
    display: grid;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 400px;
    &__button-download {
      @include header-button;
      width: 390px;
      height: 62px;
      font-size: 21px;
    }
    &__button-download:hover {
      box-sizing: border-box;
      border: 2px solid $color-fiolet;
      background-color: #FFFFFF;
      color: $color-fiolet;
    }
    &__text-grey {
      color: #848E97;
      font-size: 14px;
      text-align: center;
      margin-top: 19px;
    }
  }
}