.people-talking {
  width: 100%;
  @include section-width-settings;
  background-image: url("../../dist/img/section3_PeopleTalking/bg_main.png");
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;

  &__all-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__header {
    color: #FFFFFF;
    padding-top: 108px;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
  }

  &__wrapper {
    margin-top: 82px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    grid-row-gap: 112px;
    padding: 0 10px;
  }

  &__item {
    display: grid;
    justify-items: center;
    align-items: center;

    &__img {
    }

    &__text {
      color: #FFFFFF;
      font-weight: bold;
      font-style: italic;
      font-size: 16px;
      line-height: 24px;
      font-family: 'Lato', sans-serif;
      padding: 0 15px;
      text-align: center;
    }
  }
  &__foot-text {
    margin: 118px auto 0;
    font-family: 'Lato', sans-serif;
    color: #A291A5;
    font-size: 14px;
    line-height: 21px;
    max-width: 887px;
    text-align: center;
    padding-bottom: 18px;
  }
  .people-talking__foot-line {
    background-color: #645766;
    height: 2px;
    margin: 0 auto;
    width: 65%;
    border: none;
  }
}