.fork-subscription {
  width: 100%;
  @include flex-column-centered;
  @include section-width-settings;
  background-image: url("../../dist/img/forkPricing/section-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__section {
    padding: $section-container-paddings;
    max-width: $max-content-width;

    &__title {
      font-size: 48px;
      text-transform: capitalize;
      color: white;
      text-align: center;
      margin-bottom: 61px;
    }

    &__pricing-container {
      display: grid;
      grid-row: auto;
      grid-column: repeat(4, auto);
      column-gap: 15px;
      row-gap: 30px;
      grid-template-areas: 
        "students professional agency enterprise";
      justify-items: center;
      align-items: center;
      justify-content: space-between;  
      align-content: space-evenly;
      margin-bottom: 97px;
       
      &__price-option {
        @include flex-column-centered;
        min-width: 257px;
        max-width: 257px;
        justify-content: flex-start;
        background-color: rgba(255, 255, 255, 0.11);

        &:nth-child(1) {
          grid-area: students;
        }

        &:nth-child(2) {
          grid-area: professional;
        }

        &:nth-child(3) {
          grid-area: agency;
        }

        &:nth-child(4) {
          grid-area: enterprise;
        }

        &__title {
          font-size: 24px;
          font-weight: 100;
          color: white;
          width: 100%;
          @include default-padd-marg;
          padding: 38px 0;
          text-align: center;
          text-transform: uppercase;
          background-color: rgba(255, 255, 255, 0.06);
          margin-bottom: 30px;
        }

        &__price {
          @include default-padd-marg;
          font-size: 60px;
          font-weight: 700;
          color: white;
          margin-bottom: 20px;

          &__currency {
            font-weight: 300;
          }
        }

        &__period {
          @include default-padd-marg;
          font-size: 14px;
          color: white;
          font-weight: 100;
          text-transform: uppercase;
          margin-bottom: 38px;
        }

        &__line {
          @include default-padd-marg;
          width: 60px;
          border: none;
          border-bottom: 5px solid ;
          outline: none;
          margin-bottom: 30px;
          color: #8D81AC;
        }

        &__license-type {
          @include default-padd-marg;
          text-align: center;
          font-size: 16px;
          font-weight: 100;
          max-width: 220px;
          height: 37px;
          color: white;
          margin-bottom: 49px;
        }

        &__purchase-button {
          cursor: pointer;
          width: 163px;
          height: 45px;
          border: none;
          outline: none;
          border-radius: 22.5px;
          font-size: 15px;
          font-weight: 100;
          color: white;
          text-transform: uppercase;
          background-color: rgba(255, 255, 255, 0.15);
          margin-bottom: 37px;
        }

        &--prefered-selection {
          min-width: 299px;
          max-width: 299px;
          background-color: #3d263dce;
          
          &__title {
            padding: 43px 0;
            background-color: rgba(0, 0, 0, 0.11);
            margin-bottom: 14px;
          }

          &__price {
            margin-bottom: 16px;
            font-size: 82px;
          }
  
          &__period {
            margin-bottom: 46px;
          }
  
          &__line {
            margin-bottom: 40px;
          }
  
          &__license-type {
            margin-bottom: 83px;
          }

          &__purchase-button {
            width: 190px;
            height: 52px;
            border-radius: 26px;
            margin-bottom: 47px;
          }
        }
      }
    }
  }
}