.revolutionary-editor {
width: 100%;
@include flex-column-centered;
@include section-width-settings;
margin-bottom: 70px;

  &__section {
    @include flex-column-centered;
    padding: $section-container-paddings;
    max-width: $max-content-width;
    padding-top: 129px;
    
    &__title {
      color: #635C73;
      text-transform: uppercase;
      font-size: 54px;
      @include default-padd-marg;
      margin-bottom: 35px;
      text-align: center;
    }

    &__description {
      font-family: Lato;
      color: #323232;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      @include default-padd-marg;
      text-align: center;
      margin-bottom: 26px;
      max-width: 861px;
    }

    &__stats-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        flex-wrap: nowrap;       
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        width: auto;
        height: auto;
        margin-bottom: 10px;

        &__description-wrapper {
          display: flex;
          align-items: center;
          padding: 7px;
          background-color: #F8F8F8;
          border: 1.5px solid #d1d1d1;
          border-radius: 5px 0 0 5px;

          &__icon {
            height: 16px;
            fill:#323232;
            font-size: 14px;
            font-weight: 700;
            margin-right: 4px;
          }

          &__stats-name {
            font-family: SegoeUI;
            color: #323232;
            font-size: 14px;
            font-weight: 700;
            text-transform: capitalize;
            letter-spacing: -0.5px;
            @include default-padd-marg;
          }
        }

        &__stats-counter {
          font-family: SegoeUI;
          color: #323232;
          font-weight: 700;
          font-size: 14px;
          @include default-padd-marg;
          border-left: none;
          padding: 7px;
          border: 1.5px solid #d1d1d1;
          border-left: 0;
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }
}