.what-you-get {
  width: 100%;
  @include flex-column-centered;
  @include section-width-settings;
  background-color: #F4F4F4;
  background-image: url('../../dist/img/revolutionaryEditor/section-banner.png');
  background-repeat: no-repeat;
  background-position: top 170px right;
  padding-top: 100px;
  padding-bottom: 10%;

  &__section {
    padding: $section-container-paddings;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "description header"
      "description .";
    column-gap: 30px;
    justify-items: flex-start;
    justify-content: space-between; 
    align-items: start;
    align-content: start;   
    box-sizing: border-box;
    max-width: $max-content-width;
    
    &__title {
      grid-area: header;
      height: 46px;
      @include default-padd-marg;
      color:  #8D81AC;
      font-size: 48px;
      font-weight: 700;
    }

    &__product-description {
      grid-area: description;  

      &__advantage-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;   
        max-width: 580px;

        &__image-wrapper {
          min-width: 121px;
          margin-right: 10px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;

          &__image {
            object-fit: contain;
            margin: 0 auto;
          }
        } 
  
        &__text-wrapper {
          max-width: 400px;

          &__title {
            @include default-padd-marg;
            color: #323232;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 17px;
          }

          &__text {
            font-family: Lato;
            @include default-padd-marg;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }

      & &__advantage-wrapper:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }
}