@media screen and (max-width: 992px) and (min-width: 481px) {
  .header {
    background-size: cover;
    background-position: center;

    &__top-menu__phone-wrapper {
      display: none;
    }

    &__top-menu {
      display: none;
    }
    &__download-section {
      position: relative;
      top: 414px;
    }
  }
  .header__top-menu__tablet-wrapper {
    display: grid;
    height: 98px;
    background: #27262A;
    padding-top: 20px;
    align-items: start;
  }
  .header__tablet__menu-tablet {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
  .header__tablet__menu-item {
    list-style: none;
    margin-right: 46px;
  }
  .header__tablet__menu-item:last-child {
    margin-right: 0;
  }
  .header__top-menu__tablet {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .header__main-section {
    margin-top: 69px;
    padding: 0 20px;

    &__heading {
      font-size: 72px;
    }

    &__tagline {
      font-size: 24px;
    }

    &__description {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    &__top-menu {
      display: none;
    }

    &__button-buy {
      position: relative;
    }

    &__top-menu__phone-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #27262A;
      height: 103px;
      padding: 0 15px;
    }

    &__main-section {
      margin-top: 50px;
      padding: 0 10px;

      &__heading {
        font-size: 48px;
      }

      &__tagline {
      font-size: 18px;
      line-height: 24px;
      }

      &__description {
        font-size: 14px;
      }
    }
  }
  .burger {
    display: grid;
  }
  .burger-menu {
    position: absolute;
  }
  .header__download-section {
    top: 465px;
    &__button-download {
      width: 290px;
      height: 45px;
      font-size: 18px;
    }
    &__text-grey {
      font-size: 14px;
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
  .header__download-section {
    top: 387px;
  }
}