@media screen and (max-width: 992px) and (min-width: 481px) {
  .people-talking__header {
      font-size: 42px;
      padding-top: 86px;
  }
  .people-talking__wrapper {
    grid-template-columns: 50% 50%;
    grid-row-gap: 58px;
  }
  .people-talking__item {
    padding: 0;
  }
  .people-talking__foot-text {
    padding: 0 36px 18px;
  }
}

@media screen and (max-width: 480px) {
  .people-talking__header {
    font-size: 36px;
    padding-top: 57px;
  }
  .people-talking__wrapper {
    grid-template-columns: 100%;
    grid-row-gap: 45px;
    padding: 0 20px ;
  }

  .people-talking__foot-text {
    padding: 0 36px 18px;
    margin-top: 37px;
  }
}



