@media (max-width: 602px) {
  @media (max-width: 602px) {
    .fork-subscription__section__pricing-container {
      grid-row: repeat(4, auto);
      grid-column: auto;
      column-gap: 15px;
      row-gap: 30px;
      grid-template-areas: 
        "students"
        "professional"
        "agency" 
        "enterprise";
        justify-content: center; 
    }
  }

  @media (max-width: 499px) {
    .fork-subscription__section__title {
      font-size: 28px;
      margin-bottom: 32px;
    }
  }

  @media (min-width: 500px) and (max-width: 580px) {
    .fork-subscription__section__title {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }

  @media (min-width: 581px) {
    .fork-subscription__section__title {
      font-size: 42px;
      margin-bottom: 32px;
    }
  }
}

@media (min-width: 603px) and (max-width: 1150px) {
    .fork-subscription__section__pricing-container {
      grid-row: repeat(4, auto);
      grid-column: auto;
      column-gap: 15px;
      row-gap: 30px;
      grid-template-areas: 
        "students professional"
        "agency enterprise";
        justify-content: center; 
    }

    @media (max-width: 763px) {
      .fork-subscription__section__title {
        font-size: 42px;
        margin-bottom: 32px;
      }
    }
}

@media (min-width: 993px) {

}