@media (max-width: 480px) {
  .revolutionary-editor {
    margin-bottom: 29px;
  
    &__section{

      &__title {
        font-size: 26px;
        max-width: 276px;
        margin-bottom: 27px;
      }

      &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        max-width: 280px;
      }

      &__stats-wrapper {
        max-width: 365px;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .revolutionary-editor__section{

    &__title {
      font-size: 42px;
      text-align: center;
      max-width: 500px;
      margin-bottom: 17px;
    }

    &__description {
      max-width: 670px;
    }
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .revolutionary-editor__section{

    &__title {
      font-size: 42px;
      margin-bottom: 17px;
    }

    &__description {
      max-width: 670px;
    }
  }
}