
@media (max-width: 480px) {
  .what-you-get {

    @media (max-width: 319px) {
        background-color: transparent;
        background-size: 315px auto;
        background-position: top 99% right -10px;
        padding-bottom: 255px;
    }
    background-color: transparent;
    background-size: 98% auto;
    background-position: top 99% right -10px;
    padding-bottom: 80%;
  
    &__section {
      grid-template-columns: auto;
      grid-template-areas: 
        "header"
        "description";
      column-gap: 66px;
      justify-items: center;
      justify-content: center; 
      align-items: center;
      align-content: center;   
      
      &__title {
        font-size: 32px;
        margin-bottom: 66px;
        max-width: 230px;
        line-height: 38px;
        text-align: center;
      }
  
      &__product-description {
        grid-area: description;  
  
        &__advantage-wrapper {
          flex-flow: column wrap;
          justify-content: space-around;
          align-items: center;

          &__image-wrapper {

            &__image {
              object-fit: contain;
              margin-bottom: 30px;
            }
          }

          &__text-wrapper {
            max-width: 272px;
  
            &__title {
              text-align: center;
            }
  
            &__text {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .what-you-get {
    background-color: transparent;
    background-size: 90% auto;
    background-position: top 99% right -10px;
    padding-bottom: 80%;
  
    &__section {
      grid-template-columns: auto;
      grid-template-areas: 
        "header"
        "description";
      column-gap: 66px;
      justify-items: center;
      justify-content: center; 
      align-items: center;
      align-content: center;   
      
      &__title {
        @media (min-width: 481px) and (max-width: 550px) {
          font-size: 38px;
        }
        font-size: 42px;
        margin-bottom: 54px;
        line-height: 38px;
        text-align: center;
      }
  
      &__product-description {
        grid-area: description;  
  
        &__advantage-wrapper {
          max-width: 100%;

          &__text-wrapper {
            max-width: 560px;
          }
        }
      }
    }
  }
}

@media (min-width: 993px) {
  .what-you-get {
    @media (min-width: 993px) and (max-width: 1127px){
      background-size: 48% auto;
      padding-bottom: 5%;
    }

    @media (min-width: 1128px) and (max-width: 1440px){
      background-size: 48% auto;
      padding-bottom: 5%;
    }

    background-repeat: no-repeat;
    background-size: 52% auto;
    background-position: top 170px right;

    &__section {
      &__title {
        @media (min-width: 993px) and (max-width: 1127px){
          font-size: 40px;
          min-width: 400px;
        }
        @media (min-width: 1128px) and (max-width: 1180px){
          min-width: 500px;
        }
      }
    }  
  }
}