@mixin flex-column-centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-centered {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@mixin default-padd-marg {
  margin: 0;
  padding: 0;
}

@mixin section-width-settings {
  width: 100%;
  min-width: $min-content-width;
}

