@import "normilize.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@font-face {
  font-family: SegoeUI;
  src:
  local("Segoe UI Bold"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 700;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@import "variables.scss";
@import "mixins.scss";

@import "sections/header.scss";
@import "sections/people-talking.scss";
@import "sections/pricing.scss";
@import "sections/revolutionary-editor.scss";
@import "sections/what-you-get.scss";
@import "sections/burger-menu.scss";

@import "media/media-all.scss";